# Ignore virtual environment and pycache
myvirtenv/
__pycache__/

# Ignore Spleeter's pre-trained models
pretrained_models/

# Ignore all current input and output test folders
preprocessing_output/
test_audio_files/
test_output_folder/
output_directory/

# Ignore specific files
"SOURCE SEPARATION NOTES.docx"
source_sep.py